# encode all files as EBCDIC unless mentioned elsewhere
* git-encoding=iso8859-1 zos-working-tree-encoding=ibm-1047

sample.* git-encoding=BINARY zos-working-tree-encoding=BINARY
manual.pdf git-encoding=BINARY zos-working-tree-encoding=BINARY
